body {
    background-image: url("imgs/background.jpg");
}
input:invalid{
    color: red;
}
h1{
    font-size: 3em;
    font-family: serif;
    color: black;
    text-align: center;
}

form{
    color:#666;
    padding: 7px;
    margin-bottom: 15px;
    border: 3px solid white;
    border-radius: 15px;
}

form p{
    margin: 7px 0 0;
    padding: 10px;
    font-size: 12px;
    background: #cccccc;
    border-radius: 15px;
    overflow: hidden;
    clear: left;
}

form div:last-child{
    text-align: center;
}

span{
    width: 30em;
    margin: 0px;
    display: block;
    float:left;
    color: black;
    font-size: 20px;
}

form p label input, .txtfiled, form p select{
    width: 20em;
    padding: 3px;
    margin: 0px;
    color: #666;
    border: solid 1px #ccc;
    background: #fff;
    box-shadow: 1px 1px 1px #fff;
    border-radius: 7px;
}

.txtfied{
    height: 6em;
}

form p select, form p input[type="color"]{
    width: 8em;
}

form p input[type="radio"]{
    width: 1em;
    margin-left: 1.5em;
}

form p span.radio{
    display: block;
    width: 20em;
    float: left;
}

form p span.radio label input{
    margin-right: 0.5em;
}

form p span.radio label:hover{
    background: #C08B9B;
    color: #fff;
    font-weight: bold;
}

form div [type="submit"],
form div [type="reset"],
form p [type="button"],
body p [type="button"]{
    cursor: pointer;
    font-size: 130%;
    font-weight: bold;
    width: 100px;
    padding: 4px 10px;
    margin-right: 0.5em;
    color: #fff;
    border:1px solid #bbb;
    background: #C08B9B;
    background: linear-gradient(#E7D6DB, #C08B9B);
    border-radius: 5px;
    box-shadow: 1px 1px 1px #fff;
}

form p input[type="submit"]:hover,
form p input[type="reset"]:hover{
    opacity: 0.8;
    font-size: 135%;
}

